name: Build
on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - main
    tags:
      - "*"
env:
  QUAY_STACKROX_IO_RW_USERNAME: ${{ secrets.QUAY_STACKROX_IO_RW_USERNAME }}
  QUAY_STACKROX_IO_RW_PASSWORD: ${{ secrets.QUAY_STACKROX_IO_RW_PASSWORD }}

jobs:

  multiarch-build-images:
    strategy:
      fail-fast: false
      matrix:
        arch:
          - arm64
          - amd64
    runs-on: ${{ (matrix.arch == 'arm64' && 'ubuntu-24.04-arm') || 'ubuntu-24.04' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/build-and-push-image
        id: build-and-push-image
        with:
          image-flavor: "stackrox-build"
          arch: ${{ matrix.arch }}
      - uses: ./.github/actions/save-image-info
        with:
          image-tag: ${{ steps.build-and-push-image.outputs.image-tag }}
          name: stackrox-build-${{ matrix.arch }}

  multiarch-ui-test-images:
    strategy:
      fail-fast: false
      matrix:
        arch:
          - arm64
          - amd64
    runs-on: ${{ (matrix.arch == 'arm64' && 'ubuntu-24.04-arm') || 'ubuntu-24.04' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/build-and-push-image
        id: build-and-push-image
        with:
          image-flavor: "stackrox-ui-test"
          arch: ${{ matrix.arch }}
      - uses: ./.github/actions/save-image-info
        with:
          image-tag: ${{ steps.build-and-push-image.outputs.image-tag }}
          name: stackrox-ui-test-${{ matrix.arch }}

  multiarch-test-images:
    needs:
      - multiarch-build-images
    strategy:
      fail-fast: false
      matrix:
        arch:
          - arm64
          - amd64
    runs-on: ${{ (matrix.arch == 'arm64' && 'ubuntu-24.04-arm') || 'ubuntu-24.04' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/build-and-push-image
        id: build-and-push-image
        with:
          image-flavor: "stackrox-test"
          arch: ${{ matrix.arch }}
      - uses: ./.github/actions/save-image-info
        with:
          image-tag: ${{ steps.build-and-push-image.outputs.image-tag }}
          name: stackrox-test-${{ matrix.arch }}

  multiarch-manifests:
    runs-on: ubuntu-latest
    needs:
      - multiarch-build-images
      - multiarch-test-images
      - multiarch-ui-test-images
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Login to quay.io/stackrox-io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_STACKROX_IO_RW_USERNAME }}
          password: ${{ secrets.QUAY_STACKROX_IO_RW_PASSWORD }}

      - uses: ./.github/actions/create-multiarch-manifest
        id: stackrox-build-manifest
        with:
          base-image: quay.io/stackrox-io/apollo-ci
          image-flavor: stackrox-build
      - uses: ./.github/actions/save-image-info
        with:
          image-tag: ${{ steps.stackrox-build-manifest.outputs.image-tag }}
          name: stackrox-build-multiarch

      - uses: ./.github/actions/create-multiarch-manifest
        id: stackrox-test-manifest
        with:
          base-image: quay.io/stackrox-io/apollo-ci
          image-flavor: stackrox-test
      - uses: ./.github/actions/save-image-info
        with:
          image-tag: ${{ steps.stackrox-test-manifest.outputs.image-tag }}
          name: stackrox-test-multiarch

      - uses: ./.github/actions/create-multiarch-manifest
        id: stackrox-ui-test-manifest
        with:
          base-image: quay.io/stackrox-io/apollo-ci
          image-flavor: stackrox-ui-test
      - uses: ./.github/actions/save-image-info
        with:
          image-tag: ${{ steps.stackrox-ui-test-manifest.outputs.image-tag }}
          name: stackrox-ui-test-multiarch

  amd64-build-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image-flavor:
          - scanner-build
          - jenkins-plugin
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/build-and-push-image
        id: build-and-push-image
        with:
          image-flavor: "${{ matrix.image-flavor }}"
      - uses: ./.github/actions/save-image-info
        with:
          image-tag: ${{ steps.build-and-push-image.outputs.image-tag }}
          name: ${{ matrix.image-flavor }}

  amd64-test-images:
    runs-on: ubuntu-latest
    needs:
      - amd64-build-images
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: ./.github/actions/build-and-push-image
        id: build-and-push-image
        with:
          image-flavor: "scanner-test"
      - uses: ./.github/actions/save-image-info
        with:
          image-tag: ${{ steps.build-and-push-image.outputs.image-tag }}
          name: scanner-test

  test-cci-export:
    runs-on: ubuntu-latest
    needs:
      - amd64-build-images
      - amd64-test-images
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Test cci-export in a context similar to how it is used in CI
        run: |
          docker login -u "$QUAY_STACKROX_IO_RW_USERNAME" --password-stdin <<<"$QUAY_STACKROX_IO_RW_PASSWORD" quay.io
          make test-cci-export

  comment-build-images:
    runs-on: ubuntu-latest
    needs:
      - multiarch-build-images
      - multiarch-test-images
      - multiarch-manifests
      - amd64-build-images
      - amd64-test-images
    steps:
      - name: Download all image info artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: image-info-*
          merge-multiple: true
          path: image-info
      - name: Build comment message
        id: build-message
        run: |
          echo "message<<EOF" >> $GITHUB_OUTPUT
          echo "## Build Images" >> $GITHUB_OUTPUT
          echo "" >> $GITHUB_OUTPUT
          echo "| Image Flavor | Image Tag |" >> $GITHUB_OUTPUT
          echo "|--------------|-----------|" >> $GITHUB_OUTPUT
          for file in image-info/*.txt; do
            if [ -f "$file" ]; then
              flavor=$(basename "$file" .txt)
              image=$(cat "$file")
              echo "| ${flavor} | \`${image}\` |" >> $GITHUB_OUTPUT
            fi
          done
          echo "EOF" >> $GITHUB_OUTPUT
      - name: Comment PR with build images
        if: ${{ github.event_name == 'pull_request' }}
        uses: thollander/actions-comment-pull-request@v3
        with:
          message: ${{ steps.build-message.outputs.message }}
          comment-tag: build-images
      - name: Print the comment message to step summary
        run: |
          # Need to cat here, because echo would interpret the backticks in the message as commands.
          cat >> $GITHUB_STEP_SUMMARY << 'EOF'
          ${{ steps.build-message.outputs.message }}
          EOF
